table { border-collapse: collapse; }
tbody td, thead th { padding: .3em; border: 1px black solid; } 

.no_border table { border-collapse: collapse; }
.no_border td, th { padding: .3em; border: 0px black solid; font-size:16px; text-align: center; } 

#report_content { margin-left: 30px; }
#export_content { margin-left: 20px; }