table { border-collapse: collapse; }

.no_border table { border-collapse: collapse; }
.no_border td, th { padding: .3em; border: 0px black solid; font-size:16px; text-align: center; } 

#report_content { margin-left: 30px; }
#export_content { margin-left: 20px; }
.heading {
	font-weight: bold;
}

.tblborder tbody td, thead th {  border: 1px black solid; }
.tblnoborder tbody td, thead th{  border: 1px white solid; }
