/* - - - - - - CSS Document - - - - - - - - -
Title : SS
Author : Cody.Lindley@albertsons.com

Created : 3/16/07
Description:
- - - - - - - - - - - - - - - - - - - - - */

/* ----- add selectors here for font sizing ----- */
add selectors here {font-size: 77%} /* =10 */
add selectors here {font-size: 85%} /* =11 */
add selectors here {font-size: 92%} /* =12 */
add selectors here {font-size: 100%} /* =13 */
add selectors here {font-size: 107%} /* =14 */
#mainNav li a em, h4 {font-size: 114%} /* =15 */
add selectors here {font-size: 122%} /* =16 */
add selectors here {font-size: 129%} /* =17 */
add selectors here {font-size: 136%} /* =18 */
add selectors here {font-size: 144%} /* =19 */
h2 {font-size: 152%} /* =20 */
add selectors here {font-size: 159%} /* =21 */
add selectors here {font-size: 167%} /* =22 */
add selectors here {font-size: 174%} /* =23 */
add selectors here {font-size: 182%} /* =24 */
add selectors here {font-size: 189%} /* =25 */
add selectors here {font-size: 197%} /* =26 */




/* ----- base h's ----- */
h1{float:left;width:360px;padding-bottom:10px;*padding-bottom:0px;}
h1 a{
	width:360px;
	height:46px;
	text-indent:-999em;
	background-image: url(/images/logoPlaceHolder.gif);
	background-repeat: no-repeat;
	display:block;
}
h2{color:#666; margin:10px 0 10px 0;*margin:0px 0 10px 0;}
h3{font-size: 16px;}
h4{}
h5{color:#C36615;}
h6{}

/* = #mainNav2 & #mainNav3 & #mainNav4 & #mainNav5
----------------------------------------------------------------------------------------------------*/
#mainNav{clear:both}
#mainNav li{
	height:71px;
	list-style:none;
	float:left;
	background-color:#999999;
	background-image: url(images/navBtn.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#mainNav li.current{
	background-color:#C36615;
	background-image: url(images/navCurrentBtn.gif);
}

#mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url(images/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#7C8437;
	background-image: url(images/navDoneBtn.gif);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
}

#mainNav li a em{
width:150px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:140px;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
height:71px;
display:block;
}

/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:182px;}
#mainNav.fiveStep li a{width:182px;}

/* #mainNav.fourStep */
#mainNav.fourStep li{width:227px;}
#mainNav.fourStep li.mainNavNoBg{width:229px;}
#mainNav.fourStep li a{width:227px;}

/* #mainNav.threeStep */
#mainNav.threeStep li{width:303px;}
#mainNav.threeStep li.mainNavNoBg{width:304px;}
#mainNav.threeStep li a{width:303px;}

/* #mainNav.twoStep */
#mainNav.twoStep li{width:455px;}
#mainNav.twoStep li a{width:455px;}


/*
#wizardpanel {
	background-color: #F5F5F5; margin:5px;display:none;
	}
*/
#wizardcontent {
	height:250px;
	overflow:auto;
}
#wizardwrapper{width:950px;}


/* BUTTONS */
.buttons{margin:10px;clear:both}
.next {float:right}
.previous {float:left}

/*Step titles */
.white_big { color: white; font-weight: bold; font-size: 16px; padding: 1em 1em 1em 1em;}