site_name: "C4G BLIS Documentation"

markdown_extensions:
  - abbr
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


plugins:
  - git-revision-date-localized
  - search
  - to-pdf:
      cover_title: C4G BLIS User Guide
      cover_subtitle: Computing For Good

      author: C4G BLIS Team
      copyright: 2008 - 2024

      excludes_children:
      exclude_pages:
        - index.md
        - contributing/
        - developer_documentation/
        - C4G_Spring_2025/
        - C4G_Spring_2026/

edit_uri: edit/main/docs/
repo_url: https://github.com/C4G/BLIS

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - search.suggest
