# We don't need mkdocs directly as it is depended on by mkdocs-material
# mkdocs == 1.*
mkdocs-material == 9.*
mkdocs-git-revision-date-localized-plugin >= 1.5.0
mkdocs-to-pdf >= 0.10.1
weasyprint == 68.0
pydyf == 0.10.0
