
.msocomanchor {
	BACKGROUND: infobackground
}
.msocomoff {
	DISPLAY: none
}
.msocomtxt {
	VISIBILITY: hidden
}
.msocomtxt {
	POSITION: absolute
}
.msocomtxt {
	TOP: -1000px
}
.msocomtxt {
	LEFT: -1000px
}
.msocomtxt {
	WIDTH: 33%
}
.msocomtxt {
	BACKGROUND: infobackground
}
.msocomtxt {
	COLOR: infotext
}
.msocomtxt {
	BORDER-TOP: threedlightshadow 1pt solid
}
.msocomtxt {
	BORDER-RIGHT: threedshadow 2pt solid
}
.msocomtxt {
	BORDER-BOTTOM: threedshadow 2pt solid
}
.msocomtxt {
	BORDER-LEFT: threedlightshadow 1pt solid
}
.msocomtxt {
	PADDING-BOTTOM: 3pt; PADDING-LEFT: 3pt; PADDING-RIGHT: 3pt; PADDING-TOP: 3pt
}
.msocomtxt {
	Z-INDEX: 100
}
.msocomanchor {
	BACKGROUND: infobackground
}
.msocomoff {
	DISPLAY: none
}
.msocomtxt {
	VISIBILITY: hidden
}
.msocomtxt {
	POSITION: absolute
}
.msocomtxt {
	TOP: -1000px
}
.msocomtxt {
	LEFT: -1000px
}
.msocomtxt {
	WIDTH: 33%
}
.msocomtxt {
	BACKGROUND: infobackground
}
.msocomtxt {
	COLOR: infotext
}
.msocomtxt {
	BORDER-TOP: threedlightshadow 1pt solid
}
.msocomtxt {
	BORDER-RIGHT: threedshadow 2pt solid
}
.msocomtxt {
	BORDER-BOTTOM: threedshadow 2pt solid
}
.msocomtxt {
	BORDER-LEFT: threedlightshadow 1pt solid
}
.msocomtxt {
	PADDING-BOTTOM: 3pt; PADDING-LEFT: 3pt; PADDING-RIGHT: 3pt; PADDING-TOP: 3pt
}
.msocomtxt {
	Z-INDEX: 100
}