
html, body {
	height:100%;
	margin: 0;
	padding: 0;
	border: none;
	overflow:auto;
}

#mainFrame
{
	width: 100%;
	height: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.bluecell 
{
	background-color: #B3C6E6;
	width:100%;
	height:8%;
}

/*
#titleRow 
{
	border: 1px solid Blue;
	background-color: #e5ecf9;
}
*/

#maintable 
{
	width: 100%;
	height:100%;
	border: 1px solid #fff;
}

#titleCell 
{
	width:80%;
	/*border: 1px solid Blue;
	background-color: #e5ecf9;*/
	margin:5px;
	padding:5px;
}

#printCell
{
	width: 20%;
	font-size: 9px;
	font-family: Arial;
	text-align: right;
	white-space: nowrap;
}

.arialfont
{
	font-size: 12px;
	font-family: Arial;
}

#contentRow
{
	width: 80%; 
	height:87%;
	vertical-align:top;
}

.full 
{
	width:100%;
	height:100%;
}

#mainTitle {
	font: 12pt Arial;
	font-weight: bold;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
}

.greyBox {
 background: #eee;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
 border-top: 1px solid #fff;
 margin: 0 0 8px 0;
 padding: 4px;
 padding-left: 15px;
 }

.contentTree {
margin-left: 0px;
padding-left: 0px;
}

.contentTree ul{
margin: 0;
padding: 0;
}

.contentTree li{
background: url(leaf.gif) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
font-size: 10px;
margin-left:0px;
font-family: Arial, sans-serif;
line-height: 12pt;
white-space: nowrap;
}

.contentTree li.submenu{
background: url(more.gif) no-repeat left 1px;
cursor: pointer !important;
white-space: nowrap;
}

.contentTree li.submenu ul{ 
display: none; 
}

.contentTree .submenu ul li{
cursor: default;
}

.contentTree a{
color: black;
text-decoration:none;
}

.lis_title {
	font-size: 22px;
	font-weight:bold;
	font-family:Trebuchet MS, Times New Roman;
}

.guide_title {
	font-size: 18px;
	font-weight:bold;
	font-family:Trebuchet MS, Times New Roman;
	
}

#top_pane {
	color:#444;
	background:#ddd;
	padding: 0 1em 0 0;
}