version: '3'

services:
  app:
    image: ghcr.io/c4g/blis-devcontainer:latest
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    # Runs app on the same network as the database container,
    # allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db
    depends_on:
      - db
    volumes:
      - ..:/workspace:cached

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password --innodb-strict-mode=OFF --sql-mode=""
    restart: unless-stopped
    volumes:
      - blis-data:/var/lib/mysql
      - type: bind
        source: ../docker/database
        target: /docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: blis123

volumes:
  blis-data:
