#
# Set default charset for multilingual support
#
AddDefaultCharset UTF-8
AddCharset UTF-8 .php

#
# .htaccess redirection
#
Options +FollowSymLinks
RewriteEngine on

# 
# Prevent Directory Listing
#
Options -Indexes

#Set max upload size in PHP
php_value upload_max_filesize 100M

#
# Redirect old links to new ones
#


RewriteRule ^lang_update\.php$ Language/lang_update.php

## /config folder
RewriteRule ^lab_configs\.php$ config/lab_configs.php
RewriteRule ^lab_config_home\.php$ config/lab_config_home.php
RewriteRule ^lab_config_new\.php$ config/lab_config_new.php
RewriteRule ^lab_config_add\.php$ config/lab_config_add.php
RewriteRule ^lab_config_addd\.php$ config/lab_config_addd.php
RewriteRule ^lab_config_added\.php$ config/lab_config_added.php
RewriteRule ^lab_config_status\.php$ config/lab_config_status.php
RewriteRule ^cfield_new\.php$ config/cfield_new.php
RewriteRule ^cfield_edit\.php$ config/cfield_edit.php
RewriteRule ^worksheet_custom_new\.php$ config/worksheet_custom_new.php
RewriteRule ^worksheet_custom_add\.php$ config/worksheet_custom_add.php
RewriteRule ^worksheet_custom_added\.php$ config/worksheet_custom_added.php
RewriteRule ^worksheet_custom_edit\.php$ config/worksheet_custom_edit.php
RewriteRule ^worksheet_custom_update\.php$ config/worksheet_custom_update.php
RewriteRule ^worksheet_custom_updated\.php$ config/worksheet_custom_updated.php


## /reports folder
ReWriteRule ^reports_testhistory_new\.php$ reports/reports_testhistory_new.php
RewriteRule ^reports\.php$ reports/reports.php
RewriteRule ^report_onetesthistory\.php$ reports/report_onetesthistory.php
RewriteRule ^report_selected_tests\.php$ reports/report_selected_tests.php
RewriteRule ^remove_selected_tests\.php$ reports/remove_selected_tests.php
RewriteRule ^retrieve_specimens\.php$ reports/retrieve_specimens.php
RewriteRule ^reports_testhistory\.php$ reports/reports_testhistory.php
RewriteRule ^viz_test_history\.php$ reports/viz_test_history.php
RewriteRule ^reports_user_stats_individual\.php$ reports/reports_user_stats_individual.php
RewriteRule ^reports_user_stats_all\.php$ reports/reports_user_stats_all.php
RewriteRule ^reports_specimen\.php$ reports/reports_specimen.php
RewriteRule ^reports_specimenlog\.php$ reports/reports_specimenlog.php
RewriteRule ^reports_print\.php$ reports/reports_print.php
RewriteRule ^reports_dailyspecimens\.php$ reports/reports_dailyspecimens.php
RewriteRule ^reports_dailypatients\.php$ reports/reports_dailypatients.php
RewriteRule ^reports_dailypatientBarcodes\.php$ reports/reports_dailypatientBarcodes.php
RewriteRule ^reports_infection\.php$ reports/reports_infection.php
RewriteRule ^doctor_stats\.php$ reports/doctor_stats.php
RewriteRule ^reports_specimencount\.php$ reports/reports_specimencount.php
RewriteRule ^reports_tests_done\.php$ reports/reports_tests_done.php
RewriteRule ^reports_testcount_grouped\.php$ reports/reports_testcount_grouped.php
RewriteRule ^reports_specimencount_grouped\.php$ reports/reports_specimencount_grouped.php
RewriteRule ^reports_tat\.php$ reports/reports_tat.php
RewriteRule ^report_disease\.php$ reports/report_disease.php
RewriteRule ^infection_aggregate\.php$ reports/infection_aggregate.php
RewriteRule ^report_disease_preview\.php$ reports/report_disease_preview.php
RewriteRule ^reports_pending\.php$ reports/reports_pending.php
RewriteRule ^reports_userlog\.php$ reports/reports_userlog.php
RewriteRule ^reports_test\.php$ reports/reports_test.php
RewriteRule ^reports_patient\.php$ reports/reports_patient.php
RewriteRule ^report_prevalence_agg\.php$ reports/report_prevalence_agg.php
RewriteRule ^reports_tat_aggregate\.php$ reports/reports_tat_aggregate.php
RewriteRule ^reports_billing\.php$ reports/reports_billing.php
RewriteRule ^reports_billing_specific\.php$ reports/reports_billing_specific.php
#-Currently unused php report files-
RewriteRule ^reports_session\.php$ reports/reports_session.php
RewriteRule ^reports_tat_org\.php$ reports/reports_tat_org.php
RewriteRule ^geo_report_dir_prev_cameroon\.php$ reports/geo_report_dir_prev_cameroon.php
RewriteRule ^geo_report_dir_tat_cameroon\.php$ reports/geo_report_dir_tat_cameroon.php
RewriteRule ^geo_report_dir_prev_ghana\.php$ reports/geo_report_dir_prev_ghana.php
RewriteRule ^geo_report_dir_tat_ghana\.php$ reports/geo_report_dir_tat_ghana.php
RewriteRule ^geo_report_dir_prev_drc\.php$ reports/geo_report_dir_prev_drc.php
RewriteRule ^geo_report_dir_tat_drc\.php$ reports/geo_report_dir_tat_drc.php
RewriteRule ^geo_report_dir_prev_uganda\.php$ reports/geo_report_dir_prev_uganda.php
RewriteRule ^geo_report_dir_tat_uganda\.php$ reports/geo_report_dir_tat_uganda.php
RewriteRule ^geo_report_dir_prev_tanzania\.php$ reports/geo_report_dir_prev_tanzania.php
RewriteRule ^geo_report_dir_tat_tanzania\.php$ reports/geo_report_dir_tat_tanzania.php
RewriteRule ^geo_report_dir_prev\.php$ reports/geo_report_dir_prev.php
RewriteRule ^geo_report_dir_tat\.php$ reports/geo_report_dir_tat.php

## /catalog folder
RewriteRule ^catalog\.php$ catalog/catalog.php
RewriteRule ^specimen_type_new\.php$ catalog/specimen_type_new.php
RewriteRule ^specimen_type_add\.php$ catalog/specimen_type_add.php
RewriteRule ^specimen_type_added\.php$ catalog/specimen_type_added.php
RewriteRule ^specimen_type_edit\.php$ catalog/specimen_type_edit.php
RewriteRule ^specimen_type_updated\.php$ catalog/specimen_type_updated.php
RewriteRule ^specimen_type_delete\.php$ catalog/specimen_type_delete.php
RewriteRule ^test_type_new\.php$ catalog/test_type_new.php
RewriteRule ^test_type_add\.php$ catalog/test_type_add.php
RewriteRule ^test_type_added\.php$ catalog/test_type_added.php
RewriteRule ^test_type_edit\.php$ catalog/test_type_edit.php
RewriteRule ^test_type_updated\.php$ catalog/test_type_updated.php
RewriteRule ^test_type_delete\.php$ catalog/test_type_delete.php
RewriteRule ^country_catalog\.php$ catalog/country_catalog.php
RewriteRule ^test_type_edit_agg\.php$ catalog/test_type_edit_agg.php
RewriteRule ^test_type_edit_dir\.php$ catalog/test_type_edit_dir.php
RewriteRule ^lab_section_edit_dir\.php$ catalog/lab_section_edit_dir.php
RewriteRule ^test_type_updated_agg\.php$ catalog/test_type_updated_agg.php


## /regn folder
RewriteRule ^find_patient\.php$ regn/find_patient.php
RewriteRule ^new_patient\.php$ regn/new_patient.php
RewriteRule ^new_specimen\.php$ regn/new_specimen.php
RewriteRule ^specimen_added\.php$ regn/specimen_added.php
RewriteRule ^session_print\.php$ regn/session_print.php


## /results folder
RewriteRule ^results_entry\.php$ results/results_entry.php
RewriteRule ^related_tests_results_entry\.php$ results/related_tests_results_entry.php
RewriteRule ^results_batch_add\.php$ results/results_batch_add.php
RewriteRule ^results_verify\.php$ results/results_verify.php
RewriteRule ^worksheet\.php$ results/worksheet.php
RewriteRule ^worksheet_custom\.php$ results/worksheet_custom.php


## /search folder
RewriteRule ^search\.php$ search/search.php
RewriteRule ^patient_profile\.php$ search/patient_profile.php
RewriteRule ^select_test_profile\.php$ search/select_test_profile.php
RewriteRule ^specimen_info\.php$ search/specimen_info.php
RewriteRule ^specimen_verify\.php$ search/specimen_verify.php
RewriteRule ^specimen_verify_do\.php$ search/specimen_verify_do.php
RewriteRule ^specimen_result\.php$ search/specimen_result.php
RewriteRule ^specimen_result_do\.php$ search/specimen_result_do.php
RewriteRule ^viewPatientInfo\.php$ search/viewPatientInfo.php


## /export folder
RewriteRule ^export_word\.php$ export/export_word.php
RewriteRule ^export_txt\.php$ export/export_txt.php
RewriteRule ^export_pdf\.php$ export/export_pdf.php
RewriteRule ^data_backup$ export/data_backup2.php
RewriteRule ^data_backup_revert.php$ export/data_backup_revert.php
RewriteRule ^update_database.php$ export/update_database.php
RewriteRule ^export_config$ export/export_config.php
RewriteRule ^exportLabConfiguration\.php$ export/exportLabConfiguration.php
RewriteRule ^updateCountryDatabase\.php$ export/updateCountryDatabase.php
RewriteRule ^updateNationalDatabaseUI\.php$ export/updateNationalDatabaseUI.php
RewriteRule ^exportNationalDatabaseUI\.php$ export/exportNationalDatabaseUI.php
RewriteRule ^backupData\.php$ export/backupData.php
RewriteRule ^backupDataUI\.php$ export/backupDataUI.php
RewriteRule ^import_data_director\.php$ export/import_data_director.php
RewriteRule ^lab_backups\.php$ export/lab_backups.php


## /users folder
RewriteRule ^edit_profile\.php$ users/edit_profile.php
RewriteRule ^change_profile\.php$ users/change_profile.php
RewriteRule ^change_pwd\.php$ users/change_pwd.php
RewriteRule ^password_reset\.php$ users/password_reset.php
RewriteRule ^oneTime_password_reset\.php$ users/oneTime_password_reset.php
RewriteRule ^lab_admins\.php$ users/lab_admins.php
RewriteRule ^lab_admin_new\.php$ users/lab_admin_new.php
RewriteRule ^lab_admin_edit\.php$ users/lab_admin_edit.php
RewriteRule ^lab_user_new\.php$ users/lab_user_new.php
RewriteRule ^lab_user_edit\.php$ users/lab_user_edit.php
RewriteRule ^switchto_admin\.php$ users/switchto_admin.php
RewriteRule ^switchto_tech\.php$ users/switchto_tech.php
RewriteRule ^login\.php$ users/login.php
RewriteRule ^validate\.php$ users/validate.php
RewriteRule ^logout\.php$ users/logout.php
RewriteRule ^home\.php$ users/home.php
RewriteRule ^accesslist\.php$ users/accesslist.php

RewriteRule ^passwordReset\.php$ users/passwordReset.php


## /feedback folder
RewriteRule ^comments\.php$ feedback/comments.php
RewriteRule ^latency_table\.php$ feedback/latency_table.php
RewriteRule ^login_table\.php$ feedback/login_table.php
RewriteRule ^record\.js$ feedback/record.js
RewriteRule ^blank\.txt$ feedback/blank.txt
RewriteRule ^Latency\.php$ feedback/Latency.php
RewriteRule ^UserProps\.php$ feedback/UserProps.php
RewriteRule ^user_rating\.php$ feedback/user_rating.php
RewriteRule ^user_rating_submit\.php$ feedback/user_rating_submit.php


## /help folder
RewriteRule ^help\.php$ feedback/help.php


## /lang folder
RewriteRule ^lang_switch$ lang/lang_switch.php
RewriteRule ^stock_add.php$ lang/stock_add.php
RewriteRule ^stock_details.php$ lang/stock_details.php
RewriteRule ^stock_edit.php$ lang/stock_edit.php
RewriteRule ^stock_edit_details.php$ lang/stock_edit_details.php
RewriteRule ^stock_update.php$ lang/stock_update.php
RewriteRule ^lang_edit$ lang/lang_edit.php
RewriteRule ^lang_update$ lang/lang_update.php
RewriteRule ^lang_catalog_update$ lang/lang_catalog_update.php
RewriteRule ^lang_xml2php$ lang/lang_xml2php.php
RewriteRule ^remarks_edit.php$ lang/remarks_edit.php
RewriteRule ^stock_management$ lang/stock_management.php
RewriteRule ^remarks_update.php$ lang/remarks_update.php
RewriteRule ^current_inventory.php$ lang/current_inventory.php
RewriteRule ^stock_out.php$ lang/stock_out.php

## /update folder
RewriteRule ^update.php$ update/update.php
RewriteRule ^updateCountryDbAtLocalUI.php$ update/updateCountryDbAtLocalUI.php
RewriteRule ^updateCountryDbAtLocal.php$ update/updateCountryDbAtLocal.php

## /debug folder
RewriteRule ^testsuite_backend$ debug/testsuite_backend.php

## /inventory folder
RewriteRule ^new_reagent\.php$ inventory/new_reagent.php
RewriteRule ^new_stock\.php$ inventory/new_stock.php
RewriteRule ^inv_new_reagent\.php$ inventory/inv_new_reagent.php
RewriteRule ^inv_new_stock\.php$ inventory/inv_new_stock.php
RewriteRule ^use_stock\.php$ inventory/use_stock.php
RewriteRule ^edit_stock\.php$ inventory/edit_stock.php
RewriteRule ^edit_lot\.php$ inventory/edit_lot.php
RewriteRule ^view_stock\.php$ inventory/view_stock.php
RewriteRule ^view_stocks\.php$ inventory/view_stocks.php
RewriteRule ^stock_lots\.php$ inventory/stock_lots.php

## /barcode folder
RewriteRule ^generate_barcode\.php$ barcode/generate_barcode.php
RewriteRule ^barcode_lib\.php$ barcode/barcode_lib.php
RewriteRule ^export_to_pdf\.php$ barcode/tcpdf/export_to_pdf.php
RewriteRule ^print_barcode\.php$ barcode/print_barcode.php
RewriteRule ^get_barcode\.php$ barcode/get_barcode.php

## /billing folder
RewriteRule ^bill_generator\.php$ billing/bill_generator.php
RewriteRule ^bill_review\.php$ billing/bill_review.php
RewriteRule ^create_new_bill\.php$ billing/create_new_bill.php
RewriteRule ^update_discount_for_association\.php$ billing/update_discount_for_association.php

## /director folder
RewriteRule ^lab_pin\.php$ director/lab_pin.php
RewriteRule ^geo_report_dir\.php$ director/geo_report_dir.php
RewriteRule ^update_lab_coords\.php$ director/update_lab_coords.php
